.individual-offers {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  color: #ffff;
  cursor: pointer;
  z-index: 999;

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;
    border-radius: 1.5rem 1.5rem 0 0;
    padding: 0.5rem 0.5rem;
    background: #018559;
    transition: all 0.25s ease-in;

    &:hover {
      background: #016745;
    }
  }

  &__title-icon {
    transform: rotate(270deg);
    font-size: 1rem;
    transition: all 0.25s ease-in;
  }

  &__show &__title-icon {
    transform: rotate(90deg);
  }
  &__list {
    max-height: 0 !important;
  }
}
